{% block body %}


    <div class="container my-4">
        <h1>Documentation</h1>
        <hr>
        <h2 class="mb-3">First steps</h2>
        <div class="alert alert-secondary" role="alert">
            <p class="my-0">$ mkdir -p config/jwt</p>
            <p class="my-0">$ openssl genpkey -out config/jwt/private.pem -aes256 -algorithm rsa -pkeyopt rsa_keygen_bits:4096</p>
            <p class="my-0">$ openssl pkey -in config/jwt/private.pem -out config/jwt/public.pem -pubout</p>
        </div>
        <div class="alert alert-secondary" role="alert">
            <p class="my-0">$ php bin/console d:d:c</p>
            <p class="my-0">$ php bin/console d:s:u --force</p>
            <p class="my-0">$ php bin/console e:c:f</p>
        </div>
        <hr>
        <h2 class="mb-3">API</h2>
        {% for name, element in config.api %}
            <h3>{{ name | title }}</h3>
            {% for key, method in element.methods %}
                {% if key == 'get' %}
                    {% set color = 'success' %}
                {% elseif key == 'post' %}
                    {% set color = 'warning' %}
                {% elseif key == 'patch' %}
                    {% set color = 'info' %}
                {% elseif key == 'delete' %}
                    {% set color = 'danger' %}
                {% endif %}

                {% for ep in method %}
                    <div class="alert alert-{{ color }}" role="alert">
                        <div class="row">
                            <div class="col-1 align-self-center">
                                <h4 class="my-0">
                                    <span class="badge bg-{{ color }}">{{ key | upper }}</span>
                                </h4>
                            </div>
                            <div class="col-4 align-self-center">
                                {{ ep.path }}
                            </div>
                            <div class="col-6 align-self-center text-end">
                                <small>{{ ep.params }}</small>
                            </div>
                            <div class="col-1 align-self-center">
                                <p class="my-0">
                                    <span class="badge {{ ep.token ? 'bg-success' : 'bg-danger' }}">Token</span>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}